.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .product {
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 200px;
    img {
      width: 100px
    }
  }
}

