.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .product {
    // width: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 200px;
    img {
      width: 100px
    }
    .prices {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      margin: 5px;
      .unities {
      background-color: bisque;
      border: 1px solid #f0f;
      padding: 5px;

        p {
          font-size: 6px;
        }
      }
      .unities_price {
        padding: 5px;
        p:first-child {
          font-size: 10px;
        }
      }
    }
  }
}

